{% extends 'base.html.twig' %}

{% block body %}

	{# {{ dump(brewery.data) }} #}
	{# {{ dump(beers.data) }} #}

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<img src="{{brewery.data.images.squareMedium}}">
			</div>
			<div class="col-sm-9 brew-desc">
				<h1><a href="{{brewery.data.website}}">"{{brewery.data.name}}"</a></h1>
				{{brewery.data.description}}
			</div>
		</div>

		<br><br><br>

		<div class="card-columns">
		{% if beers.data is defined %}
			{% for beer in beers.data %}
			    <div class="card card-more-beers" id="{{beer.id}}">

					<div class="row">
						{% if beer.labels is defined %}
				    		<div class="col-sm-5"><img class="card-img-top" src="{{beer.labels.medium}}" width="64" alt="Card image cap"></div>
						{% endif %}
						
					    <div class="{% if beer.labels is defined %}col-sm-7{% endif %} card-body">
					      <h5 class="card-title">{{beer.name}}</h5>
					      <p class="card-text">
							{% if beer.description is defined %}
							    {{beer.description}}
							{% else %}
								No description
							{% endif %}
					      </p>
					    </div>
					</div>

			    </div>
			{% endfor %}
		{% else %}
			No beers found. Try searching by name.
		{% endif %}

		</div>

	</div>

{% endblock %}